* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}


.container_anfang, 
.container_spiel_einfach,
.container_spiel_schwer {
  /* border: 1px solid var(--line-clr); */
  border-radius: 1em;
  border: 2px solid var(--blau-2);
  margin-top: -2%;
  padding: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* width: 80%; */
  img {
    max-width: 80%;
    border-radius: 2%;
  }
}
#container_spiel_einfach_richtig {
  border: 2px solid var(--gruen-2);
}
#container_spiel_einfach_falsch {
  border: 2px solid var(--rot-2);
}

#container_loesung {
  display: flex;
  justify-content: center;
  align-items: center;
}




.ee_bild {
  content: "";
  display: flex;
  justify-content: center;
  margin-bottom: 10%;

  /* border: 10px solid red; */
  position: relative;
}
.ee_bild::after,
.ee_bild::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 103%;
  width: 83%;

  --blau-1: #3a76b1;
  --blau-lok: #3a76b1;
  background-image: conic-gradient(from var(--angle), var(--blau-3), var(--schwarz-blau), var(--weiss-blau), var(--blau-3));

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 2%;
  animation: 6s spin linear infinite;
}
.ee_bild::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}


.frage_bild {
  margin-bottom: 2%;
}



.container_richt_fal_z1,
.container_richt_fal_z2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  align-content: center;
  justify-content: space-evenly;

  /* background-color: green; */
  width: 100%;
  /* margin-top: 5%; */
  padding: 1%;
}

.container_richt_fal_z2 {
  background-color: none;
}


.btn_antwort_1,
.btn_antwort_2,
.btn_antwort_3,
.btn_antwort_4,
#btn_weiter {
  color: var(--line-clr);
  border-radius: .5em;
  padding: 1.0em 4.0em;
  border: 0;

  border: 4px solid var(--secondary-text-clr);
  background-color: var(--blau-2);
  
  width: 40%;
  /* height: 40%; */
  cursor: pointer;
  content: "TEST";

  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn_antwort_richtig {
  border: 4px solid var(--gruen-1);
  background-color: var(--gruen-2);
}
#btn_antwort_falsch {
  border: 4px solid var(--rot-1);
  background-color: var(--rot-2);
}
.btn_antwort_1:hover,
.btn_antwort_2:hover,
.btn_antwort_3:hover,
.btn_antwort_4:hover {
  background-color: var(--blau-1);
}
.btn_antwort_1 span,
.btn_antwort_2 span,
.btn_antwort_3 span,
.btn_antwort_4 span,
#btn_weiter span {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-clr);

}




.horiz_linie {
  width: 109%;
  /* max-width: 100%; */
  border: none;
  border-top: 2px solid var(--blau-2);
  margin: 2em calc(-1 * min(30px, 7%));
}
#horiz_linie_richtig {
  border-color: var(--gruen-2);
}
#horiz_linie_falsch {
  border-color: var(--rot-2);
}


#btn_weiter {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--text-clr);
  font-size: 16px;
}
#btn_weiter:hover {
  background-color: var(--secondary-text-clr);
}

.progress {
  position: relative;
  width: 80%;
  height: 3em;
  border-radius: 1.5em;
  margin-bottom: 1em;

  background-color: var(--secondary-text-clr);
}

.progress::before {
  content: "";

  display: flex;
  align-items: center;
  position: absolute;
  left: 0.8em;
  top: 0.5em;
  bottom: 0.5em;
  width: calc(var(--progress_breite, 0) *1% );
  min-width: 1rem;
  max-width: calc(100% - 2.0em);
  background-color: var(--blau-2);
  border-radius: 1em;
  padding: 0.2em;
}













.schwierigkeitsauswahl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin: 0px;

  padding: 2%;
}


/* FANCY BUTTON */
.container_btn {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */

  padding: 0;
  margin: 0;

  box-sizing: border-box;
  /* background-color: green; */
}

#btn_einfach,
#btn_schwer {
  position: relative;
  transition: transform .4s;

  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin-bottom: 30px;
}

.btn_einfach_inhalt,
.btn_schwer_inhalt {
  position: relative;
  background: var(--gradient-color-blau);
  padding: 1.25rem 2.5rem;
  /* padding: 1.5rem 3rem; */
  border-radius: 4rem;
  border: 3px solid black;
  color: black;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  overflow: hidden;

  box-sizing: border-box;
}
.btn_schwer_inhalt {
  background: var(--gradient-color-rot);
}

.btn_einfach_text {
  font-weight: 700;
}
.btn_einfach_text {
  position: relative;
  z-index: 2;
}
.btn_reflektion_1, 
.btn_reflektion_2 {
  width: 8px;
  height: 120px;
  background-color: var(--reflection-color);
  rotate: 30deg;
  position: absolute;
  inset: 0;
  top: 0;
  left: -190%;
  margin: auto;
  transition: left .6s cubic-bezier(.2, .5, .2, 1.2);
}
.btn_reflektion_1::after {
  content: "";
  width: 26px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: 1.25rem;
}
.btn_reflektion_2::after {
  content: "";
  width: 40px;
  height: 100%;
  background-color: var(--reflection-color);
  position: absolute;
  top: -1rem;
  left: .8rem;
}

.btn_schatten_einfach,
.btn_schatten_schwer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--gradient-color-blau);
  padding: 1.25rem 3rem;
  border-radius: 4rem;
  border: 3px solid black;
  z-index: -1;
  transition: transform .3s;

  box-sizing: border-box;
}
.btn_schatten_schwer {
  background: var(--gradient-color-rot);
}

#btn_einfach:hover .btn_schatten_einfach,
#btn_schwer:hover .btn_schatten_schwer {
  transform: translate(-.5rem, .5rem);
}
#btn_einfach:hover .btn_reflektion_1,
#btn_schwer:hover .btn_reflektion_1 {
  left: 120%;
}
#btn_einfach:hover .btn_reflektion_2,
#btn_schwer:hover .btn_reflektion_2 {
  left: -70%;
}


#btn_einfach:hover,
#btn_schwer:hover {
  transform: scale(1.1);
  transition-delay: .1s;
}
#btn_einfach:hover,
#btn_schwer:hover {
  transform: rotate(-4deg) scale(1.1);
}












.hide {
  display: none;
}
















