@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --icon-farbe: white;
  --icon-text-farbe: white;

  --text-farbe-schwarz: black;

  --schwarz-blau: #111b26;
  --weiss-blau: #b9c9de;

  --blau-1: #487db2;
  --blau-2: #7aa7e1;
  --blau-3: #3a76b1;
  --gruen-1: #77B14E;
  --gruen-2: #93D16B;
  --rot-1: #C35A5A;
  --rot-2: #e17a7a;

  --reflection-color: hsla(48, 30%, 95%, .3);

  --gradient-color-blau: linear-gradient(90deg,
                       hsl(202, 100%, 50%) 0%,
                       hsl(244, 100%, 54%));

  --gradient-color-blau: linear-gradient(90deg,
                         var(--blau-2) 0%,
                         var(--blau-1));

  --gradient-color-rot: linear-gradient(90deg,
                         var(--rot-2) 0%,
                         var(--rot-1));


  --progress_breite: 0;

}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 280px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
  overflow-y: scroll;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar.close{
  padding: 5px;
  width: 60px;
}
#sidebar ul{
  list-style: none;
}
#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}


#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span{
  flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: var(--hover-clr);
}
#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div{
    overflow: hidden;
  }
}
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
.dropdown-btn svg{
  transition: 200ms ease;
}
.rotateA svg:last-child{
  rotate: 180deg;
}
#sidebar .sub-menu a{
  padding-left: 2em;
}


#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;
  
  svg{
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover{
  background-color: var(--hover-clr);
}







/* Hier steht alles zu Button 3 */
/* #btn_1 {
  background-color: var(--base-clr);
  border: none;
  border-radius: .5em;

  padding: 1.0em;
  width: 100%;
  display: flex;
  align-items: center;

  background-color: var(--base-clr);
  cursor: pointer;
}
#btn_1 .icon{
  color: var(--icon-farbe);
  margin-right: 20px;
}
#btn_1 span{
  color: var(--icon-farbe);
  font-size: 18px;
}
#btn_1:hover {
  background-color: var(--hover-clr);
} */

/* Hier steht alles zu Button 4 */
/* #btn_2 {
  background-color: var(--base-clr);
  border: none;
  border-radius: .5em;

  padding: 1.0em;
  width: 100%;
  display: flex;
  align-items: center;

  background-color: var(--base-clr);
  cursor: pointer;
}
#btn_2 .icon{
  color: var(--icon-farbe);
  margin-right: 20px;
}
#btn_2 span{
  color: var(--icon-farbe);
  font-size: 18px;
}
#btn_2:hover {
  background-color: var(--hover-clr);
} */







/* Button nicht gedrückt (inaktiv) */
.btn_ungedrueckt,
.btn_gedrueckt {
  background-color: var(--base-clr);
  border: none;
  border-radius: .5em;

  padding: 1.0em;
  width: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.btn_ungedrueckt .icon{
  color: var(--icon-farbe);
  margin-right: 20px;
}
.btn_ungedrueckt span{
  color: var(--icon-farbe);
  font-size: 18px;
}
.btn_ungedrueckt:hover,
.btn_gedrueckt:hover {
  background-color: var(--hover-clr);
}
.btn_ungedrueckt use{
  fill: var(--icon-farbe);
}

/* Button gedrückt (aktiv) */
/* .btn_gedrueckt {
  background-color: var(--base-clr);
  border: none;
  border-radius: .5em;

  padding: 1.0em;
  width: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
} */
.btn_gedrueckt .icon{
  color: var(--blau-2);
  margin-right: 20px;
}
.btn_gedrueckt span{
  color: var(--blau-2);
  font-size: 18px;
}
/* .btn_gedrueckt:hover {
  background-color: var(--hover-clr);
} */
.btn_gedrueckt use{
  fill: var(--blau-2);
}





/* Für Lektionen mit Untermenü -> btn_home funktioniert noch icht */
.btn_home,
.btn_lektionen,
.btn_vokabeltrainer,
.btn_spiele {
  border-radius: .5em;
  padding: 1.0em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;

  
  width: 100%;
  text-align: left;
  /* background-color: var(--base-clr); */
  background: none;
  border: none;
  cursor: pointer;
}
.btn_home .icon,
.btn_lektionen .icon,
.btn_vokabeltrainer .icon,
.btn_spiele .icon {
  color: white;
  margin-right: 10px;
}
.btn_home span,
.btn_lektionen span,
.btn_vokabeltrainer span, 
.btn_spiele span {
  flex-grow: 1;
  font-size: 18px;
  color: white;
}
.btn_home:hover,
.btn_lektionen:hover,
.btn_vokabeltrainer:hover,
.btn_spiele:hover {
  background-color: var(--hover-clr);
}
.btn_home svg,
.btn_lektionen svg,
.btn_vokabeltrainer svg
.btn_spiele svg{
  transition: 200ms ease;
}
.btn_home use,
.btn_lektionen use,
.btn_vokabeltrainer use
.btn_spiele use {
  fill: white;
}



.btn_home_gedr,
.btn_lektionen_gedr,
.btn_vokabeltrainer_gedr,
.btn_spiele_gedr {
  border-radius: .5em;
  padding: 1.0em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;

  width: 100%;
  text-align: left;
  /* background-color: var(--base-clr); */
  /* color: red; */
  background: none;
  border: none;
  cursor: pointer;
}
.btn_home_gedr .icon,
.btn_lektionen_gedr .icon,
.btn_vokabeltrainer_gedr .icon,
.btn_spiele_gedr .icon {
  margin-right: 10px;
}
.btn_home_gedr span,
.btn_lektionen_gedr span,
.btn_vokabeltrainer_gedr span,
.btn_spiele_gedr span {
  flex-grow: 1;
  font-size: 18px;
  color: var(--blau-2);
}
.btn_home_gedr:hover,
.btn_lektionen_gedr:hover,
.btn_vokabeltrainer_gedr:hover,
.btn_spiele_gedr:hover {
  background-color: var(--hover-clr);
}
.btn_home_gedr svg,
.btn_lektionen_gedr svg,
.btn_vokabeltrainer_gedr svg,
.btn_spiele_gedr svg {
  transition: 200ms ease;
}
.btn_home_gedr use,
.btn_lektionen_gedr use,
.btn_vokabeltrainer_gedr use,
.btn_spiele_gedr use {
  fill: var(--blau-2);
}



/* Button der Lektion i */
.btn_lek_i_ungedr,
.btn_vokabeltrainer_i_ungedr,
.btn_spiele_i_ungedr {
  background-color: var(--base-clr);
  border: none;
  border-radius: .5em;

  padding: 1.0em;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--icon-farbe);
  cursor: pointer;
}
.btn_lek_i_ungedr span,
.btn_vokabeltrainer_i_ungedr span, 
.btn_spiele_i_ungedr span {
  font-size: 16px;
  margin-left: 18px;
}
.btn_lek_i_ungedr:hover,
.btn_vokabeltrainer_i_ungedr:hover,
.btn_spiele_i_ungedr:hover {
  background-color: var(--hover-clr);
}



/* Button der Lektion i */
.btn_lek_i_gedr,
.btn_vokabeltrainer_i_gedr,
.btn_spiele_i_gedr {
  background-color: var(--base-clr);
  border: none;
  border-radius: .5em;

  padding: 1.0em;
  width: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
}
.btn_lek_i_gedr span,
.btn_vokabeltrainer_i_gedr span,
.btn_spiele_i_gedr span {
  color: var(--blau-2);
  font-size: 16px;
  margin-left: 18px;
}
.btn_lek_i_gedr:hover,
.btn_vokabeltrainer_i_gedr:hover,
.btn_spiele_i_gedr:hover {
  background-color: var(--hover-clr);
}
.btn_lek_i_gedr use,
.btn_vokabeltrainer_i_gedr use,
.btn_spiele_i_gedr use{
  fill: var(--blau-2);
}































.icon {
  width: 26px;
  height: 26px;
}

.icon_leiste {
  width: 24px;
  height: 24px;
}
.icon_pfeil {
  width: 24px;
  height: 24px;
}
.icon_pfeil use{
  fill: var(--icon-farbe);
}

.icon_1 {
  width: 26px;
  height: 26px;
}











main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: min(30px, 7%);
}
main p{
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container{
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  
  margin-top: 1%;
  /* margin-bottom: 20px; */
  padding: 5%;

  /* h2, p { margin-top: 1em } */
}

.ueberschrift {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--base-clr);

  /* border: 1px solid var(--line-clr); */
  border-radius: 10px;
  width: fit-content;
  width: 190px;
  height: 30px;
  position: relative;

  /* text-decoration: underline; */
  /* border-bottom: 2px solid red; */
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.ueberschrift::after,
.ueberschrift::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-image: conic-gradient(from var(--angle), blue, black, white, blue); */
  /* background-image: conic-gradient(from var(--angle), black, white, blue, black); */
  background-image: conic-gradient(from var(--angle), white, blue, black, white);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  top: 100%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  animation: 6s spin linear infinite;
}
.ueberschrift::before {
  filter: blur(1.5rem);
  opacity: 0.1;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}




















